<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    
    <!-- Smartystreet Staging values-->
    <add key="ZipPlus4Enabled" value="true" />
    <add key="ZipPlus4Url" value="https://us-street.api.smartystreets.com/street-address" />
    <add key="ZipPlus4AuthId" value="e50fe384-b426-3abe-bc34-96902654eb3a" />
    <add key="ZipPlus4RawAuthToken" value="ggrOtBpMU6GSFrIpc6bv" />

    <!-- Address by ZIP Code -->
    <add key="AddressByZipEnabled" value="true" />
    <add key="AddressByZipUrl" value="http://ziptasticapi.com/" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>